:root {
    --header_bg: rgba(6, 19, 31, 1);
    --main_bg: rgba(29, 45, 60, 1);
    --card_bg: rgba(17, 32, 48, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


header {
    background-color: var(--header_bg);
    height: 8rem;
}

#logo_container {
    height: 4rem;
    aspect-ratio: 3 / 1;
}

main {
    height: calc(100vh -8rem);
    background-color: var(--main_bg);
    color: whitesmoke;
}

.my_card {
    background-color: var(--card_bg);
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.poster_container {
    width: 80%;
    aspect-ratio: 1 / 1;
    margin-top: 1rem;
}